<nav class="navbar navbar-expand-sm bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="Logo" height="30" class="d-inline-block align-text-top" style="filter: invert(1);">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-blog">Add Blog</a>
          </li>
          <li class="">
            
          </li>
        </ul>
        <div class="d-flex nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="userLogIn">
            <% if (locals.user) { %>
              <%= user %>
            <% } else { %>
              Login
            <% } %>
          </a>
          <ul class="dropdown-menu ddm">
            <li><div class="dropdown-item">Hii 
                <% if (locals.user) { %>
                  <%= user %>
                <% } else { %>
                  there
                <% } %>
                </div></li>
            <li><hr class="dropdown-divider"></li>
            <% if (locals.user) { %>
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/signup">Signup</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
</nav>