<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body data-bs-theme="dark">
    <%- include("./partials/nav.ejs") %>
    
    <footer>
        <div id="disclaimer" class="center full-w">© Neeraj Verma 2024</div>
    </footer>
    <%- include("./partials/cscripts.ejs") %>
</body>
</html>