@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#blog_form {
    column-gap: 10px;
    max-height: 400px;
    height: 100%;
    width: 90%;
    justify-content: space-between;
}

.blog_body {
    height: 85%;
    position: relative;
}

.post_btn {
    height: fit-content;
}

textarea, input, input[type = file] {
    font-size: 13px !important;
}

textarea {
    height: calc(100% - 50px);
}

.post_btn_btn {
    min-width: 200px;
    border-radius: 2px !important;
}

.form_ctnr {
    height: calc(100% - 60px);
}

.charCount {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.blogdetails {
    justify-content: space-between;
    font-size: 13px;
    color: gray;
}
.blogtitle {
    font-size: 27px;
    text-align: center;
}

.blogdetails p {
    width: fit-content;
}
.body {
    text-align: justify;
    font-size: 14px;
}
.cover {
    max-height: 300px;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .blogtitle {
        font-size: 20px;
    }
}